ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5105

ConnectionStrings__paymentdb=Host=localhost;Port=5432;Database=paymentdb;Username=postgres;Password=postgres
Kafka__BootstrapServers=localhost:9092

PaymentProvider__WebhookSecret=replace-with-payment-webhook-secret
PaymentProvider__FakeAlwaysSucceed=true
PaymentProvider__FakeProcessingDelaySeconds=2

InternalApi__RequireInbound=true
InternalApi__ApiKey=replace-with-local-internal-api-key

Swagger__Enabled=true
Swagger__ServiceName=Payment API
