ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://localhost:5104

ConnectionStrings__orderingdb=Host=localhost;Port=5432;Database=orderingdb;Username=postgres;Password=postgres
Kafka__BootstrapServers=localhost:9092

InternalApi__RequireInbound=true
InternalApi__ApiKey=replace-with-local-internal-api-key

Swagger__Enabled=true
Swagger__ServiceName=Ordering API
